@import url('https://fonts.googleapis.com/css?family=Oxygen');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
}
.container-fluid{
    width: 100%;
    background-color: rgb(43, 38, 38);
}
header{
    margin: 0px auto;
    width: 80%;

}
header h1{
    color: greenyellow;
    padding: 50px;

}
nav{
    text-align: right;
}
nav ul li{
    list-style: none;
    color: white;
    display: inline-block;
    padding-top: 50px;
    margin: 10px;
    
}

nav li a {
    color: white;
    margin: 10px;
}

nav li a:hover{    
    border-bottom: 2px solid greenyellow;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: white;
}
.main{
    padding: 50px;

}
.card{
    margin: 20px;
}
.card-title{
    font-size: 1.6em;
}
.card-text{
    font-size: 1em;
}
.about{
    height: 600px;
    width: 100%;
    padding: 50px;
}
 .btn-primary{
    background-color: rgb(116, 184, 8);
    border: none;
}
.btn-primary a{
    color: white;
}
.btn-primary a:hover{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(79, 126, 4);
}


.usrename{
    list-style: none;

}
.footer{
    background-color: rgb(43, 38, 38);
    color: white;
    text-align: center;
    padding: 40px;
    
}
.authorName{
    list-style: none;
    text-align: center;

}
.authorName > li{
    border-bottom: 1px solid black;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 30px;
}

.listOfPosts{
    margin: 0px auto;
    padding-top: 25px;
    border-top: 1px solid black; 

}

.authorNameItem{
    color:black;
}
.authorPage{
    text-align: center;
}
