@import url('https://fonts.googleapis.com/css?family=Oxygen');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
}
.container-fluid{
    width: 100%;
    background-color: rgb(43, 38, 38);
}
header{
    margin: 0px auto;
    width: 80%;

}
header h1{
    color: rgb(47, 248, 255);
    padding: 50px;

}
header a{
    text-decoration: none;
    color: rgb(47, 248, 255);
}
header a:hover{
    text-decoration: none;
    color: rgb(47, 248, 255);
}
nav{
    text-align: right;
}
nav ul li{
    list-style: none;
    color: white;
    display: inline-block;
    padding-top: 50px;
    margin: 10px;
    
}

nav li a {
    color: white;
    margin: 10px;
    padding: 27px;
}

nav li a:hover{    
    border-bottom: 2px solid rgb(47, 248, 255);
    color: rgb(47, 248, 255);
    text-decoration: none;
}
.main{
    padding: 50px;

}
.card{
    margin: 20px;
}
.card-title{
    font-size: 1.6em;
}
.card-text{
    font-size: 1em;
}
.about{
    height: 600px;
    width: 100%;
    padding: 50px;
}
.about p{
    padding: 20px;
}
 .btn-primary{
    background-color: rgb(35, 169, 173);
    border: none;
}
.btn-primary a{
    color: white;
}
.btn-primary a:hover{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(47, 248, 255);
}


.usrename{
    list-style: none;

}
.footer{
    background-color: rgb(43, 38, 38);
    color: white;
    text-align: center;
    padding: 30px;
    height: 200px;
  
}
.footer p{
    color: rgb(47, 248, 255);
 
}
.footer a{
    text-decoration: none;
    color: white;
}
.authorName{
    list-style: none;
    text-align: center;

}
.authorName > li{
    border-bottom: 1px solid black;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 30px;
}

.listOfPosts{
    margin: 0px auto;
    padding-top: 25px;
    border-top: 1px solid black; 

}

.authorNameItem{
    color:black;
}
.authorPage h2{
    text-align: left;
    padding: 0px;
}

.authorPage{
    padding: 100px;
    height: 650px;
}

.authorPage img{
    width: 100%;
}
.Authors{
    height: 600px;
}
.searchPosts input{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
    background-color: rgb(47, 248, 255);
    color: black;
    border: none;
}
.singlePost{
    padding: 80px 20px;
}
.btnBack{
    background-color: rgb(73, 72, 72);
    color: rgb(47, 248, 255);
    padding: 8px;
    border: none;
    font-weight: 700;
    border-radius: 8px;
    margin: 50px;
    box-shadow: 0 4px #999;
  
}
.button:hover {background-color: #3e8e41}

.btnBack:active{
    transform: translateY(2px);
    box-shadow: 0 5px #666;  
}

.createPost {
    padding: 40px;
}
.createPost label{
    padding-top: 10px;
    color: rgb(35, 169, 173);
}
.createPost button, input,textarea{
    margin:5px;
    background-color: rgb(47, 248, 255);
    color: rgb(43, 38, 38);
    /* border: 1px solid rgb(104, 99, 99); */
    border: none;
    box-shadow: 0px 1px 1px rgb(54, 53, 53);
    border-radius: 5px;
    padding: 4px;
}
.createPostPage{
    height: 600px;
}

