
$prime-color: rgb(255, 0, 234);
$to-white:rgb(0, 255, 242);



*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
.no-bullet {
    list-style-type: none;
    
}
footer{
    color: $to-white;
    background-color: rgb(43, 40, 40);
    padding: 80px 40px 40px 40px;
    text-align: center;
    margin-top: 50px;
    ul li{
        display: inline-block;
        padding: 5px;
    }
    p{
        padding:20px;
    }
}
@import "header";
@import 'mixins';
@import 'main';
@import'tablet';
@import 'desktop';
@import 'main-footer';